/* .container-fluid { */
    /* margin: 0; */
    /* padding-left:0; */
/* } */

/* .form-field {
    width: 80%;
    } */

    h5 {
        color: orange;
    }

    mat-icon {
        font-size: 20px;
        width: 12px;
        padding-right: 17px;
        padding-top: 2px;
    }

    img {
        /* height: 100vh;
        width: 100vw; */
        margin-top: 20vh;
    }
    h3 {
        color: rgb(77, 77, 219);
    }

    .registerForm {
        padding:4vh;
        height: 80vh;
        margin-top: 10vh;
    }


    input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus {
    border-color: rgba(22, 60, 230, 0.603);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(22, 60, 230, 0.403);
  outline: 0 none;
}